@model NelsonShaw_Assignment1_991463584.Models.RestaurantResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2>We're going to have an exciting party!</h2>
        <h3>And you are invited</h3>
        <div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>What restaurant are you going to?</label>
                    @Html.DropDownListFor(x => x.RestaurantName, new[] {
                                            new SelectListItem() {Text = "Harveys",
                                                Value = "Harveys"},
                                            new SelectListItem() {Text = "Montanas",
                                                Value = "Montanas"},
                                            new SelectListItem() {Text = "The Keg",
                                                Value = "The Keg"},
                                            new SelectListItem() {Text = "East Side Marios",
                                                Value = "East Side Marios"},
                                            new SelectListItem() {Text = "Swiss Chalet",
                                                Value = "Swiss Chalet"}
                                        }, "Choose a restaurant", new { @class = "form-control" })
                </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Go" />
                </div>
            }
        </div>
    </div>
</body>
</html>
