@model NelsonShaw_Assignment1_991463584.Models.RestaurantResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Thanks</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none
        }

        body {
            background-color: lightsalmon;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2>Thanks for choosing @Model.RestaurantName</h2>
        <h3>Now we simply need a bit more information from you:</h3>
        <div class="container">
            <ul class="list-group">
                <li class="list-group-item list-group-item-warning">Your name</li>
                <li class="list-group-item list-group-item-warning">Your email</li>
                <li class="list-group-item list-group-item-warning">Your phone number</li>
                <li class="list-group-item list-group-item-warning">How many of your friends you are bringing</li>
                <li class="list-group-item list-group-item-warning">If you are coming or not</li>
            </ul>
        </div>
        <div class="btn btn-warning">
            @Html.ActionLink("RSVP Now", "RsvpForm")
        </div>
    </div>
</body>
</html>
